@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  &.small {
    width: 24px;
    height: 24px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer base {
  p,
  label {
    @apply text-[#667185] text-sm;
  }
  h2 {
    @apply font-semibold text-black text-2xl;
  }
  h3 {
    @apply font-medium text-sm text-darkgrey;
  }
  h4 {
    @apply font-medium text-sm text-darkblue;
  }
  h5 {
    @apply font-semibold text-[#101928];
  }
  h6 {
    @apply font-medium text-[#101928] text-base;
  }
  label {
    @apply block mt-4 mb-2;
  }
}
