@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  &.small {
    width: 24px;
    height: 24px;
  }
  &.dark {
    border-color: #101928;
    border-bottom-color: transparent;
  }
}

.spinning-loader {
  animation: rotation 1s linear infinite;
}
.inner-paths {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-login-bg {
  background: url("../assets/auth-bg.png") center no-repeat;
  background-size: contain;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.solutions-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  grid-template-areas:
    "solution growth solving"
    "expertise expertise collaboration";
}

@media only screen and (max-width: 768px) {
  .solutions-container {
    display: block;
  }
}

.solutions {
  grid-area: solution;
}

.growth {
  grid-area: growth;
}

.expertise {
  grid-area: expertise;
}

.solving {
  grid-area: solving;
}

.collaboration {
  grid-area: collaboration;
}

@layer base {
  a {
    @apply text-purple600 lg:text-base text-sm;
  }
  p {
    @apply text-gray600 lg:text-base text-sm font-normal;
  }
  label {
    @apply text-gray900 inline-block mt-4 mb-1 font-medium text-sm;
  }
  h2 {
    @apply font-semibold text-gray900 text-2xl;
  }
  h3 {
    @apply font-medium text-sm;
  }
  h4 {
    @apply font-medium text-sm;
  }
  h5 {
    @apply font-semibold text-gray900;
  }
  h6 {
    @apply font-medium text-gray900 text-base;
  }
}
